{% extends 'base.html.twig' %}

{% block title %}User index {% endblock %}

{% block body %}

    <h1 class="text-center">Admin List User</h1>
    <section>
        <div class="container py-5">
            <div class="row">
                {% for user in users %}
                    <div class="col-lg-4">
                        <div class="card mb-4 border-white">
                            <div class="card-body text-center">
                                <img
                                        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2.webp"
                                        alt="avatar" class="rounded-circle img-fluid"
                                        style="width: 150px;">
                                <h5 class="my-3">{{ user.pseudo }}</h5>
                                <p class="text-muted mb-1">lastname : {{ user.lastname }} </p>
                                <p class="text-muted mb-1">Firstname: {{ user.firstname }} </p>
                                <p class="text-muted mb-1">Email : {{ user.email }}</p>
                                <p class="text-muted mb-4">Campus : {{ user.userCampus.name }}</p>
                                <p class="text-muted mb-1"><a
                                            href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a></p>
                                <p class="text-muted mb-1"><a
                                            href="{{ path('app_admin_userEdit', {'id': user.id}) }}">edit</a></p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="11">no records found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
