{% extends 'base.html.twig' %}

{% block title %}Travel{% endblock %}

{% block body %}

    <div class="container py-5">
        <h1 class="text-center">Show Travel</h1>
        <div class="row">
            <div class="card border-white">
                <img src="{{ asset('img/travelLogo/illustration.jpg') }}" alt="avatar-center"
                     class="rounded-circle img-fluid" style="width:150px">
                <h5 class="my-3">{{ travel.name }}</h5>
                <p class="text-muted mb-1">Numero de voyage: {{ travel.id }}</p>
                <hr/>
                <p class="text-muted mb-1">Date debut du
                    voyage: {{ travel.dateStart ? travel.dateStart|date('Y-m-d ') : '' }}</p>
                <hr/>
                <p class="text-muted mb-1">Date fin du
                    voyage: {{ travel.duration ? travel.duration|date('Y-m-d ') : '' }}</p>
                <hr/>
                <p class="text-muted mb-1">Date fin des
                    inscription: {{ travel.limitDateSubscription ? travel.limitDateSubscription|date('Y-m-d ') : '' }}</p>
                <hr/>
                <p class="text-muted mb-1">Nombre maximale par voyage: {{ travel.nbMaxTraveler }}</p>
                <hr/>
                <p class="text-muted mb-1">Info voyage: {{ travel.infos }}</p>
                <hr/>

                {#                <div class="card-body text-center"> #}
                {#                    <a class="btn btn-secondary m-2 my-sm-0 text-muted mb-1" #}
                {#                    />{{ include('travel/_delete_form.html.twig') }}</a> #}
                {#                </div> #}
            </div>
        </div>
    </div>
    <section>
        <div>
            <p> Listes des participants a la sortie : {{ travel.name }}</p>
        </div>
        <table class="table ">

            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Name</th>

            </tr>
            </thead>
            <tbody>
            {% for t in travel.subscriptionedTravelers %}
                <tr>
                    <td>{{ t.pseudo }}</td>
                    <td>{{ t.firstname }} {{ t.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>





{% endblock %}
