{% extends 'base.html.twig' %}

{% block title %}Travel{% endblock %}

{% block body %}


    <section>
        <div class="container py-5">
            <h1 class="text-center">Show Travel</h1>
            <div class="row">
                <div class="card border-dark mb-3">
                    <img src="{{ asset('img/travelLogo/illustration.jpg') }}" alt="avatar-center"
                         class="rounded-circle img-fluid" style="width:150px">
                    <h5 class="my-3">{{ travel.name }}</h5>
                    <p class="text-muted mb-1">Numero de voyage: {{ travel.id }}</p>
                    <hr/>
                    <p class="text-muted mb-1">Date debut du
                        voyage: {{ travel.dateStart ? travel.dateStart|date('Y-m-d ') : '' }}</p>
                    <hr/>
                    <p class="text-muted mb-1">Date fin du
                        voyage: {{ travel.duration ? travel.duration|date('Y-m-d ') : '' }}</p>
                    <hr/>
                    <p class="text-muted mb-1">Date fin des
                        inscription: {{ travel.limitDateSubscription ? travel.limitDateSubscription|date('Y-m-d ') : '' }}</p>
                    <hr/>
                    <p class="text-muted mb-1">Nombre maximale par voyage: {{ travel.nbMaxTraveler }}</p>
                    <hr/>
                    <p class="text-muted mb-1">Info voyage: {{ travel.infos }}</p>
                    <hr/>

                    <div class="mb-1">
                        <a class="btn btn-outline-light m-2 my-sm-0"
                           href="{{ path('app_travel_index') }}">back to list</a>
                        {% if is_granted('ROLE_ORGANISER') %}
                          <div class="btn btn-outline-light m-2 my-sm-0 text-muted mb-1 "> <a class="text-white"
                               href="{{ path('app_travel_cancel_travel', {'id': travel.id}) }}"> Cancel</a>
                          </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5">
            <h1 class="text-center">Participant's List at {{ travel.name }}</h1>
            <div class="row">
                <table class="table  ">
                    <thead>
                    <tr class="card border-dark mb-3">
                        <th>Pseudo :</th>
                        <th>Name :</th>
                        <th>Profil :</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for t in travel.subscriptionedTravelers %}
                        <tr>
                            <td>{{ t.pseudo|upper }}</td>
                            <td>{{ t.firstname }} {{ t.lastname|upper }}</td>

                            <td>
                                <a href="{{ path('app_user_show', {'id': t.id}) }}">show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
