{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <section class="border-white">
        <br>
        <h1 class="text-center ">{{ user.pseudo }}</h1>
        <div class="container py-5 border-white">
            <div class="row ">
                <div class="col-lg-4 ">
                    <div class="card mb-4 border-white">
                        <div class="card-body text-center ">
                            <img
                                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2.webp"
                                    alt="avatar" class="rounded-circle img-fluid"
                                    style="width: 150px"/>
                            <h5 class="my-3">{{ user.pseudo }}</h5>
                            <p class="text-muted mb-1">{{ user.lastname }} {{ user.firstname }}</p>

                            <div class="d-flex justify-content-center mb-2"><a href="{{ path('app_user_index') }}">back
                                    to list</a>
                            </div>
                            <div class="d-flex justify-content-center mb-2"><a
                                        href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card mb-4 border-white">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Firstname :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.firstname }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Lastname :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.lastname }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.phoneNumber }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Campus :</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.userCampus.name }}</p>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
